@model schedule_2.Models.Subgroup

<div class="modal-header">
    <h5 class="modal-title">Деталі підгрупи</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>Назва підгрупи</dt>
        <dd>@Model.Name</dd>

        <dt>Група</dt>
        <dd>@Model.Group.Name</dd>

        <dt>Курси</dt>
        <dd>
            @foreach (var subgroupCourse in Model.SubgroupCourses)
            {
                <p>@subgroupCourse.Course.Name</p>
            }
        </dd>

        <dt>Події</dt>
        <dd>
            @foreach (var subgroupEvent in Model.SubgroupEvents)
            {
                <p>@subgroupEvent.Event.Title (@subgroupEvent.Event.StartDateTime.ToShortDateString() - @subgroupEvent.Event.EndDateTime.ToShortDateString())</p>
            }
        </dd>
    </dl>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
</div>
