@model schedule_2.Models.Course

<div class="modal-header">
    <h5 class="modal-title">Деталі курсу</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>Назва курсу</dt>
        <dd>@Model.Name</dd>

        <dt>Опис</dt>
        <dd>@Model.Description</dd>

        <dt>Події</dt>
        <dd>
            @foreach (var eventItem in Model.Events)
            {
                <p>@eventItem.Title (@eventItem.StartDateTime.ToShortDateString() - @eventItem.EndDateTime.ToShortDateString())</p>
            }
        </dd>

        <dt>Викладачі</dt>
        <dd>
            @foreach (var courseTeacher in Model.CourseTeachers)
            {
                <p>@courseTeacher.Teacher.LastName</p>
                <p>@courseTeacher.Teacher.FirstName</p>
            }
        </dd>

        <dt>Групи</dt>
        <dd>
            @foreach (var courseGroup in Model.CourseGroups)
            {
                <p>@courseGroup.Group.Name</p>
            }
        </dd>

        <dt>Підгрупи</dt>
        <dd>
            @foreach (var subgroupCourse in Model.SubgroupCourses)
            {
                <p>@subgroupCourse.Subgroup.Name</p>
            }
        </dd>
    </dl>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
</div>
